<div class="container my-5">
    <h2>Data Mahasiswa</h2>
  
    <div class="row mt-5">
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img
            src="https://via.placeholder.com/150"
            class="card-img-top"
            alt="Image of Andi"
          />
          <div class="card-body">
            <h5 class="card-title">kenny Lie</h5>
            <p class="card-text">NPM: 2226240094</p>
            <p class="card-text">Prodi: Sistem Informasi</p>
            <p class="card-text">Status: Mahasiswa Aktif</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img
            src="https://via.placeholder.com/150"
            class="card-img-top"
            alt="Image of Budi"
          />
          <div class="card-body">
            <h5 class="card-title">Farisky</h5>
            <p class="card-text">NPM: 2226250087</p>
            <p class="card-text">Prodi: Teknik Informatika</p>
            <p class="card-text">Status: Mahasiswa Aktif</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img
            src="https://via.placeholder.com/150"
            class="card-img-top"
            alt="Image of Charlie"
          />
          <div class="card-body">
            <h5 class="card-title">Dyon Filipina</h5>
            <p class="card-text">NPM: 2226240170</p>
            <p class="card-text">Prodi: Sistem Informasi</p>
            <p class="card-text">Status: Mahasiswa Aktif Bentar lagi drop out</p>
          </div>
        </div>
      </div>
    </div>
  </div>